.main-page {
  width: 100%;
  margin-bottom: 32px;
  background-color: #000000;
  background-image: url("/source/img/back-mobile.jpg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-page__text-image {
  margin: 0 auto;
  padding: 90px 0 85px 0;
}

