.main-page {
  width: 282px;
  margin: 0 auto;
  background-color: #000000;
  background-image: url("/source/img/back-mobile.jpg@2x.jpg");
}

.main-page__text-image {
  margin: 0 auto;
  width: 282px;
  height: 214px;
}

@media (min-width: @tablet-width) {
  .main-page {
    width: 768px;
    background-image: url("/source/img/back-mobile.jpg.jpg");
}
  .main-page__text-image {
    width: 461px;
    height: 350px;
  }
}

@media (min-width: @desktop-width) {
  .main-page {
    width: 1200px;
    background-image: url("/source/img/back-desktop.jpg");
}
}
