.map {
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.map__image {
  display: block;
  object-fit: cover;
  height: 350px;
  margin: 0 auto;
}

.map__button {
  border: none;
  width: 27px;
  height: 27px;
  background-color: transparent;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 129px;
  top: 141px;

  @media (min-width: @tablet-width) {
    left: 370px;
  }

  @media (min-width: @desktop-width) {
    left: 626px;
  }
}

