.map {
  display: flex;
  margin: auto;
  position: relative;
}

.map__image {
  display: block;
}

.map__button {
  border: none;
  width: 27px;
  height: 27px;
  background-color: transparent;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 129px;
  top: 141px;
}

