.subscription {
  margin: 0 auto;
  padding: 38px 18px 49px 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription__title {
  margin-bottom: 30px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.subscription__description {
  margin-bottom: 32px;
  color: #333333;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.subscription__button {
  min-width: 284px;
  margin: 0 auto;
  padding: 16px 49px;
  background-color: #81b3d2;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}

.subscription__button:hover {
  background-color: #669ec0;
}

.subscription__button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.subscription__button:disabled {
  background-color: #e5e5e5;
}
