.subscription {
  margin: 0 auto;
  padding: 38px 18px 49px 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 58px 166px 61px 167px;
  }
}

.subscription__title {
  margin-bottom: 30px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.subscription__description {
  margin-bottom: 32px;
  color: #333333;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }
}

.button {
  min-width: 282px;
  margin: 0 auto;
  padding: 16px 49px;
  background-color: #81b3d2;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #e5e5e5;
}
