.catalog-container__header {
  width: auto;
  margin: 0 auto;
  background-image: url("/source/img/back-desktop.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000000;
}

.catalog-container__header img {
  margin: 0 auto;
  padding: 52px 46px 67px 45px;
}
